<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>授权界面首页</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <link rel="stylesheet" href="../layui/css/layui.css">
    <script type="text/javascript" src="../layui/layui.js"></script>
    <style>
        .mainDiv{
            text-align: center;
            border-radius: 20px;
            width: 500px;
            height: 350px;
            left: 50%;
            top:1%;
            position: absolute;
            margin-left: -250px;
        }
    </style>
</head>
<body>
<div  class="mainDiv">
    <div style="text-align: center;font-size: larger;font-weight: bold;margin-bottom: 10px">授权界面</div>
    <form class="layui-form" action="/license/generateLicense"  method="post">
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 90px!important;">授权开始时间</label>
            <div class="layui-input-block" style="margin-left: 130px!important;">
                <input type="text" lay-verify="required" class="layui-input" id="issuedTimeStr" name="issuedTimeStr">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 90px!important;">授权终止时间</label>
            <div class="layui-input-block" style="margin-left: 130px!important;">
                <input type="text" lay-verify="required" class="layui-input" id="expiryTimeStr" name="expiryTimeStr">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 90px!important;">是否绑定机器</label>
            <div class="layui-input-block" style="width:80px; margin-left: 130px!important;">
                <select name="licenseCheckModel.isBindMac" lay-verify="required">
                    <option value="1" selected>是</option>
                    <option value="2">否</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item" >
            <div class="layui-input-block" style="margin-left: 130px!important;">
                <button class="layui-btn"  lay-submit lay-filter="formDemo">执行授权</button>
            </div>
        </div>
    </form>
</div>
</body>
<script>
    layui.use(['laydate', 'form'], function(){
        var laydate = layui.laydate;
        var form = layui.form;
        laydate.render({
            elem: '#issuedTimeStr'
        });
        laydate.render({
            elem: '#expiryTimeStr'
        });
        form.render();
        //监听提交
        form.on('submit(formDemo)', function(data){
            layui.use(['jquery','layer'],function(){
                var $ =layui.$;
                var layer =layui.layer;
                var loading = layer.msg('正在授权', {icon: 16, shade: 0.3, time:0});
                $.ajax({
                    type:'POST',
                    url: data.form.action,
                    data: data.field,
                    success: function(result){
                        layer.close(loading);
                        if(result&&result.success){
                            layer.msg(result.msg);
                        }else{
                            layer.alert(result.msg)
                        }
                    }
                });
            });
            return false;
        });
    });
</script>
</html>